* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.chart-wrapper {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .chart-wrapper {
    width: 100%;
  }
}