@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  padding: 48px 48px 0 48px;
}

header {
  padding: 0 100px;
  margin-bottom: 48px;
}

.left-side {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.right-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart-wrapper {
  width: 50%;
  padding: 10px;
}

.chart-wrapper h2 {
  margin-bottom: 24px;
}

.chart-wrapper > div {
  background-color: #fff;
}

.card-wrapper {
  width: 25%;
  padding: 10px;
}

.card-wrapper > div {
  background-color: #fff;
}

.card-wrapper-info {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.card-wrapper-info p {
  margin-left: 8px;
}

.card-wrapper-info-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 auto;
}

.card-wrapper-info-number h2 {
  margin-bottom: 0;
}

.card-wrapper-info-number div {
  display: flex;
}

.card-wrapper-numbers h2 {
  margin: 0 4px;
}

.card-wrapper-numbers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
  margin: 0 0 8px 0;
  width: 100%;
}

.card-wrapper-chart {
  width: 100%;
}

.card-wrapper > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
}

/* @media screen and (max-width: 1400px) {
  .card-wrapper {
    width: 50%;
  }
} */

@media screen and (max-width: 767px) {
  .App {
    flex-direction: column;
    padding: 8px;
    width: 100%;
  }
  header {
    padding: 0 8px;
  }
  header h2 {
    font-size: 16px;
  }
  .left-side,
  .right-side {
    width: 100%;
    flex-direction: column;
  }
  .card-wrapper {
    width: 100%;
  }
  .chart-wrapper {
    width: 100%;
  }
}